
<app-header></app-header>


<h2>{{ post?.title }}</h2>
<h3>{{ post?.text }}</h3>
<h4>Escrito por {{post?.author}}</h4>
<h5>{{post?.publishDate}}</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem neque ad culpa ex placeat beatae, nobis, temporibus unde fugiat nostrum harum aspernatur id odio consequuntur! Nulla labore pariatur aperiam odit.
Recusandae laboriosam hic neque ullam autem doloremque dolorum ratione consequatur, porro vero at tenetur magnam aliquam. Labore exercitationem eum dolorum. Error nemo atque iure, dolore dolorem corporis necessitatibus quibusdam molestias.
Officia dolores, at deleniti architecto numquam ipsam laborum cum. Dicta deserunt aliquid molestiae nulla totam ullam dignissimos sint, voluptates inventore, rerum reiciendis placeat possimus odit, ipsum excepturi aperiam dolorem expedita.
Natus consectetur cum odit hic aut ea! Illum nihil, quam debitis possimus provident voluptate, aspernatur iste tempore recusandae iusto impedit optio atque. Nihil, necessitatibus nesciunt quod beatae ex perferendis magni.
Ea, mollitia debitis consequuntur, blanditiis, optio illum quidem eum necessitatibus provident pariatur enim. At voluptate nobis pariatur voluptatum quaerat, nemo quas perspiciatis aperiam voluptates, quidem laudantium voluptas veniam aliquid laborum?
Nulla ipsam excepturi molestias sit! Provident dolorum quasi, veritatis totam itaque alias labore quaerat dolorem qui cumque maiores similique, fuga excepturi suscipit deserunt magni accusantium doloribus. Aperiam culpa voluptas cum.
Ipsum modi perspiciatis quam nulla officiis sunt, illum, delectus veniam in fugiat assumenda totam quisquam est id ducimus. Facilis esse culpa accusantium nam assumenda? Magnam in modi voluptates est incidunt!
Soluta, doloremque officia! Ipsa voluptate mollitia aliquam, iure at excepturi voluptatem dolorem, odio cumque magni tempora reprehenderit libero vitae ipsum eveniet? Nemo enim sapiente illum incidunt nisi aliquam quas molestiae.
Pariatur quae fugit incidunt voluptatibus omnis deleniti deserunt, esse ipsum ex consectetur tempore enim distinctio facere, similique officia sequi consequatur quaerat numquam maxime minima nam id! Deleniti natus aliquid nam.
Animi error saepe a? Amet, nostrum dolorum aperiam iusto dolor omnis saepe harum eligendi quidem dolore quae ducimus? Placeat asperiores autem dolorum veniam mollitia? Minus omnis dignissimos quis aut tempora.</p>

