<h2>Crea una nueva entrada</h2>
<form (ngSubmit)="onSubmit()" #postForm="ngForm">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" required [(ngModel)]="newPost.title" name="title">
  </div>
  <div>
    <label for="text">text</label>
    <textarea id="text" required [(ngModel)]="newPost.text" name="text"></textarea>
  </div>
  <div>
    <label for="author">Author</label>
    <input type="text" id="author" required [(ngModel)]="newPost.author" name="author">
  </div>
  <button type="submit">Create Post</button>
</form>
